services:
  db:
    image: postgres:18.1
    restart: always
    environment:
      POSTGRES_DB: "devdb"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - "pgdata:/var/lib/postgresql/18/docker"

volumes:
  pgdata:
    driver: local
