@import "tailwindcss";

@layer base {
    body {
        color: var(--color-content);
        background-color: var(--color-surface-0);
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
    }
}

@theme {
    /* Backgrounds */
    --color-surface-0: #102217;
    --color-surface-1: #183325;
    --color-surface-2: #21462f;
    --color-surface: var(--color-surface-1);

    /* Primary */
    --color-primary-500: #13ec6c;
    --color-primary-dim: #33714e;
    --color-primary: var(--color-primary-500);

    /* Content */
    --color-content: #e9f0eb;
    --color-content-secondary: #93c0a6;
}
